# Data
pandas
numpy

# Classical ML
scikit-learn

# Deep Learning
torch
torchaudio

# Audio Processing
librosa

# Computer Vision (for spectrogram images later)
opencv-python

# API (for later)
fastapi
uvicorn

# Utilities
python-dotenv
pydantic
pydantic-settings
matplotlib
seaborn
jupyter
tqdm
sqlalchemy
